html {
  background-color: bisque;
}

h1 {
  text-align: center;
  font-family: 'Playpen Sans', sans-serif;
}

.flex-grid {
  display: flex;
  max-width: 50%;
  margin: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.flex-cell {
  min-height: 10px;
  min-width: 10px;
  aspect-ratio: 1 / 1;
  border: 1px solid dodgerblue;
  background-color: darkblue;
}

.etched {
  background-color: paleturquoise;
}
